.page-header
	h1 Thanks to these fantastic people
p.lead ...and organizations for making Kickstrap possible.
ul
	li 
		a(href="https://github.com/guybedford") Guy Bedford (JSPM.io)
	li 
		a(href="https://github.com/jrburke") James Burke (Require.js)
	li 
		a(href="https://github.com/Jarreddebeer") Jarred De Beer (JSPM.io)
	li 
		a(href="https://github.com/jenius") Jeff Escalante (Roots)
	li 
		a(href="http://sylviane-grant.squarespace.com") Sylviane Grant
	li 
		a(href="https://github.com/paulirish") Paul Irish
	li Slav Ivanyuk
	li 
		a(href="http://www.gutenberg.org/") Project Gutenberg
	li 
		a(href="http://bootswatch.com/") Thomas Park (Bootswatch)
	li 
		a(href="https://github.com/samccone") Sam Saccone (Roots)
	li 
		a(href="http://commons.wikimedia.org/wiki/Main_Page") Wikimedia Commons
