h1 Compiling in Roots
p Kickstrap uses Roots to make the process of compiling Jade, CoffeeScript, and Stylus seamless as well as organizing partials and resources.
p To compile your site while working on it, run 
	code kickstrap watch
	| . This is exactly the same as running 
	code roots watch
	| and is duplicated for ease-of-use with other kickstrap commands.
p For production, run 
	code kickstrap compile
	| . Again, this is the same as running 
	code roots compile
	| .