h1 Creating Angular Templates
p.lead This page is mean to be a short primer on Angular. See 
	a(href="http://angularjs.org/") Angular's official site for more instruction.
p You may have noticed the jade fiels for pages which seem to have a lot of markup are actually quite small.  For example, the code for the products page is only about 70 lines.
p This is accomplished by using Angular to 
	em bind 
	|  the UI. This document will show you examples of how this is done and includes a tutorial to create a new Angular-bound page from scratch.
h2 Binding data in the products page
p Looking at our Jade file, the most important part is the definition of the Angular Controller that binds the page. That's right here:
p
	pre .container(ng-controller='ProductsCtrl')
p Everything nested below this is bound by the Products Controller. Let's look at that. Open apps/ang-app/controllers/products.coffee.
p 
	pre controllers.controller 'ProductsCtrl'...
p This is the line that identifies itself as the ProductsCtrl. Let's do something useless to prove this. Add a line under the above which says:
p
	pre $scope.test = 'Hello world'
p
	code $scope
	| is used very often in Angular code, and just tells angular it should automatically watch the variable we create for any changes.
p Now open products.jade and add a line under "Get them before they're gone" which references "$scope.test" In the Jade file, we don't have to say "$scope," because only $scoped variables can be used anyway.
p
	pre(ng-non-bindable) h1 On Sale Now
		| p.lead Get them before they're gone
		| p {{test}}
p You should now see "Hello world" appear under the subtitle.
h3 Showing loops
p How did we create the list of products on the left? This is done by defining a $scoped variable that is an array, and repeating through it in the jade template. Look for the HTML attribute 
	code ng-repeat
	|  in the Jade file. It should say something like this:
p 
	pre div(ng-repeat="product in products")
p This is looking for an array called products. Each item in the array of products will be given the name "product" without an "s". "product" is now a $scoped variable we can refer to. In products, we use 
	code(ng-non-bindable) {{product.name}}
	|  under the 
	code ng-repeat
	|  and this is repeated for the length of 
	code $scope.products.
p Notice, we used 
	code(ng-non-bindable) {{product.name}} 
	| and not 
	code(ng-non-bindable) {{product}}
	| . This is because each item in the 
	code $scope.products
	| array is actually an object with a "name" definition.
p 
	pre(ng-non-bindable) div(ng-repeat="product in products") {{product.name}}

h2 Create a new Angular-bound page
p For a new Angular page, we'll need at least two parts: The Jade file to display it, and the JS controller to bind it.
p For this example, we'll create a page that lists names and gives us an input box to filter through them. You'll be surprised how simple this is.
h3 Create the HTML
p Create a page in views called "customers.jade" with the following content:
p 
	pre extends layout
		| &nbsp;
		| block variables
		|   - var active = 'customers'
		| &nbsp;
		| block content
		|   include _header
p This starts our page out by loading all the necessary resources we load on the other pages, including our navigation header in the _header.jade partial. We're also declaring the "active" variable as "customers" to tell the header it should darken this menu item when we're on this page.
p We also need to tell our _header.jade partial to look for this variable. Open views/_header.jade and look for this line:
p
	pre each menuItem in [{title:'Home', url: '/', slug:'home'}, {title: 'Products', url: '/products.html', slug: 'products'}]
p We need to add our customers page to this list.
p
	pre each menuItem in [{title:'Home', url: '/', slug:'home'}, {title: 'Products', url: '/products.html', slug: 'products'}, {title: 'Customers', url: '/customers.html', slug: 'customers'}]
p We've just told _header to add our customers link to the loop and listen for the page to declare the 
	code active
	|  variable as "customers" in order to give that menu's 
	code li
	|  the 
	code active
	|  class.
p Now let's keep going:
p 
	pre(ng-non-bindable) block content
		|   include _header
		|   &nbsp;
		|   h1 Customers
		|   div(ng-controller="CustomersCtrl")
		|     input(type="text", ng-model="customerFilter")
		|     ul
		|       li(ng-repeat="customer in customers") {{customer.name}}
p. We're going to need to come back to this later to get the filter working, but this will suffice for now. 
h3 Create the JavaScript
p Create customers.coffee in apps/ang-app/controllers with the following content:
p
	pre define ['./module'], (controllers) ->
		|   controllers.controller 'CustomersCtrl', ['$scope', 'ngProgress', ($scope, ngProgress) ->
		|   ]
p This is just the wrapper we need to create our controller. Now let's add some data.
p
	pre define ['./module'], (controllers) ->
		|   controllers.controller 'CustomersCtrl', ['$scope', 'ngProgress', ($scope, ngProgress) ->
		|     $scope.customers = [
		|       name: 'John'
		|     ,
		|       name: 'Jane'
		|     ]
		|   ]
p We now have an array of customers with two entries, "John", and "Jane". Just one more thing before we check our work. We need to tell Kickstrap to load this controller we've just created. Open apps/ang-app/controllers/index.coffee.
p
	pre define [
		|   './messages'
		|   './products'
		|   './sections'
		| ], () ->
p Each of these lines tells Kickstrap to load a js file by name. The ".js" is omitted in each case. So we'll add ours now.
p
	pre define [
		|   './messages'
		|   './products'
		|   './sections'
		|	'./customers'
		| ], () ->
p Now we can finally see our page. At /customers.html, we should see our heading, "Customers", an input box, and a bulleted list with John and Jane.
p Let's sweeten our creation by using more Bootstrap styling, getting our filter to work, and using a progress bar to pacify our users, waiting for the page to load.
p Back in customers.jade, add 
	code .row
	|  to the first div we created. Under that, add another div with the classes 
	code .col
	|  and 
	code .col-sm-3
	| . Nest everything under it.
p 
	pre(ng-non-bindable) block content
		|   include _header
		|   &nbsp;
		|   h1 Customers
		|   div.row(ng-controller="CustomersCtrl")
		|     .col.col-sm-3
		|       input(type="text", ng-model="customerFilter")
		|       ul
		|         li(ng-repeat="customer in customers") {{customer.name}}
p Let's also prettify the input box with the class 
	code .form-control
	| .
p 
	pre(ng-non-bindable) block content
		|   include _header
		|   &nbsp;
		|   h1 Customers
		|   div.row(ng-controller="CustomersCtrl")
		|     .col.col-sm-3
		|       input.form-control(type="text", ng-model="customerFilter")
		|       ul
		|         li(ng-repeat="customer in customers") {{customer.name}}
p While we're at it, let's make this a little more useful and show the customer's email address. Add another line to show 
	code(ng-non-bindable) customer.email
p 
	pre(ng-non-bindable) block content
		|   include _header
		|   &nbsp;
		|   h1 Customers
		|   div.row(ng-controller="CustomersCtrl")
		|     .col.col-sm-3
		|       input.form-control(type="text", ng-model="customerFilter")
		|       ul
		|         li(ng-repeat="customer in customers") 
		|           span {{customer.name}}
		|           span {{customer.email}}
p We had to put these in spans under the li so each customer repeats as a "customer."  If we had instead created a new li with its own 
	code ng-repeat
	| , we'd see all the customer's names all at once, then their email addresses listed separately below.
p One more thing, let's make sure our input box actually filters the customers. We'll add a placeholder attribute to tell users how to use the input box
p
	pre input.form-control(type="text", ng-model="customerFilter", placeholder="Filter customers")
p Next, change the li to filter based on our 
	code customerFilter
	|  model.
p 
	pre li(ng-repeat="customer in customers | filter: customerFilter") 
p Now let's open customers.coffee and make a few changes so this all works.
p
	pre define ['./module'], (controllers) ->
		|   controllers.controller 'CustomersCtrl', ['$scope', 'ngProgress', ($scope, ngProgress) ->
		|     ngProgress.start()
		|     $scope.customers = [
		|       name: 'John'
		|       email: 'john@example.com'
		|     ,
		|       name: 'Jane'
		|       email: 'jane@example.com'
		|     ]
		|     ngProgress.complete()
		|   ]
p We did just two things here. We added another property of the customer called "email" and we started and stopped the progress bar. For this example, the progress bar is more useful for visual pleasure than functionality, but when we use 
	code ngProgress.start() 
	| and 
	code ngProgress.complete() 
	| in Firebase calls, it serves an important purpose. See the ProductsCtrl as an example.
p Your page should now have two customers which can be filtered with the input box.