extends layout

block variables
	- var active = 'cart'

block content
	// A header is omitted here to encourage users to complete their purchase.

	.container
		section.row
			div.col.col-sm-12
				h1 Shopping Cart
		section.row.ks-beforeload
			.col.col-sm-12
				p Loading...
		section.row.ks-afterload(ng-controller='ProductsCtrl')
			link(
				ng-repeat='product in products'
				rel="prerender", 
				href="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/{{product.img}}"
			)
			div.col.col-sm-3
				p.lead Thank you for your business
				p
					a(href="") Help
				p.alert.alert-warning(ng-show="lastRemoved")
					| {{lastRemoved.product.name}} Removed.&nbsp;
					a(href='#', ng-show='lastRemoved', ng-click="restorePurchase(lastRemoved)") Undo.

			div.col.col-sm-6
				article.panel.panel-default
					.panel-heading Items in cart
					ul.list-group
						li.list-group-item(ng-repeat='purchase in purchases')
							.media
								img.media-object.pull-left(src="http://images.weserv.nl/?url=upload.wikimedia.org/wikipedia/commons/{{purchase.product.img}}&h=128&w=128&t=square", style="width: 64px;")
								.media-body
									h4.media-heading {{purchase.product.name}}
									p.text-muted(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;") {{ (purchase.product.price * purchase.quantity) | currency:"$"}}
									hr
									p
										form.form-inline(role="form")
											.form-group
												label.control-label {{purchase.productForId(product).price | currency:'$'}} x
											.form-group
												input.form-control(type="text", ng-model="purchase.quantity")
											.form-group
												a.control-label(href="#", ng-click="deletePurchase(purchase.product.id)") Remove
						li.list-group-item(ng-show='purchases.length < 1')
							em There are currently no items in your cart.
							p
								a(href="products.html") Go shopping
			div.col.col-sm-3
				article.panel.panel-default
					.panel-heading Checkout
					.panel-body
						p Total: 
							strong {{ total() | currency:'$' }}
						a.btn.btn-primary Purchase