extends layout

block variables
	- var active = 'newpage'

block content

	include _header

	.container
		.row
			.col.col-lg-12
				h1 New Page
				p This page exists to demonstrate the barebones code of a new page in Kickstrap.